<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="I'm a 21 year old hacker & designer. I study software engineering at University of Waterloo.">
    <meta name="author" content="Hoon Cho">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Hoon Cho</a>
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li><a href="timeline.html">Timeline</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  <div id="container">

    <header>
        <a href="/">Hoon Cho</a>
    </header>
    
    <div id="main" role="main">
        {{ content }}
    </div>
    
    <footer>
        <p>Hello. My name is Hoon. Hoon like the Moon. I'm a 21 year old hacker & designer. I study software engineering at Unviersity of Waterloo. </p> 
        <p>You can find me at following:</p>
        <ul>
            <li><a href="http://twitter.com/hoonlikethemoon">Twitter</a></li>
            <li><a href="http://github.com/soohoon90">GitHub</a></li>
            <li><a href="http://facebook.com/hoon">Facebook</a></li>
        </ul>
    </footer>

  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
  
</body>
</html>
